<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> 
    <h2>UpdatE Password</h2>
    <form action="/changePassword" method="post">
      <input
        class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md"
        type="password"
        name="oldPassword"
        placeholder="enter oldPassword"
      />
      <h4 style="display: inline">OR</h4>
      <input
        class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md"
        type="Password"
        name="newPassword"
        placeholder="Enter newPassword "
      />

      <input
        class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md"
        type="password"
        name="confirmPassword"
        placeholder="Enter confirmPassword"
      />

      <input
        type="submit"
        style="margin-top: 19px"
        class="px-5 rounded-md py-2 bg-blue-500 text-sm"
        value="Update password"
      />
    </form>
  </body>
</html>
