<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
        <h3 class="'text-3xl mb-5">Create Account</h3>
        <form action="/login" method="post" >
          
          <input
            class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md"
            type="text"
            name="userName"
            placeholder="enter userName"
          /> 
          <h4 style="display: inline;">OR</h4>
          <input
            class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md"
            type="email"
            name="email"
            placeholder="Enter email "
          />
  
          <input
            class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md"
            type="password"
            name="password"
            placeholder="password"
          />
          
          <input
            type="submit"
            style="margin-top: 19px;"
            class="px-5 rounded-md py-2 bg-blue-500 text-sm"
            value="Create Account"
          />
        </form>
      </div>
    </body>
  
</body>
</html>